{% extends 'backoffice.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}

    <table class="table table-dark mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
        <tr>
            <th scope="row">{{ actor.id }}</th>
            <td>{{ actor.firstname }}</td>
            <td>{{ actor.lastname }}</td>
            <td>
                <a href="{{ path('editActors', {id: actor.id}) }}" class="btn btn-success">Modifier</a>
                <a href="{{ path('deleteActors', {id: actor.id}) }}"  onclick="return confirm('Etes-vous sûr de vouloir supprimer cet acteur ')" class="btn btn-danger">Supprimer</a>
            </td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
{% endblock %}




{% block title %}
    {% if ajout==true  %}
        {{ parent() }}ajout d'un acteur
    {% else %}
        {{ parent() }}Modification de l'acteur
    {% endif %}
{% endblock %}

{% block titre %}
    {% if ajout==true  %}
        Ajout d'un acteur
    {% else %}
        Modification de l'acteur
    {% endif %}
{% endblock %}




