{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block titre %}
    Gestion des films
{% endblock %}



{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}


    <div class="text-center mb-5">
        <h1>Mes contributions :</h1>
    </div>
    {% for movie in movies %}

    <div class="card mb-3 col-md-5 mx-auto p-0">
        <h3 class="card-header text-center">{{movie.title}}</h3>
        <img src="{{ asset('uploads/') }}{{ movie.cover }}"  alt="">
        <div class="card-body">
            <p class="card-text text-center">
                <span class="font-weight-bold h5">Synopsis</span> <br>
                {{movie.resume}}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center"><span class="font-weight-bold h5">Production</span> <br>{{movie.director}}</li>
            <li class="list-group-item text-center"><span class="font-weight-bold h5">Date de sortie</span> <br>{{movie.releaseDate | date('d/m/Y')}}</li>
            <li class="list-group-item text-center"><span class="font-weight-bold h5">Genre</span><br>{{movie.categories.name}}</li>
            <li class="list-group-item text-center">
                <span class="font-weight-bold h5">Acteurs</span>
                <br>
                {% for actor in movie.actors %}
                <a href="{{path ('detailActors', {id: actor.id}) }}">
                    {{ actor.firstname }} {{ actor.lastname}} 
                </a>
                    <br> 
                {% endfor %}
            </li>
        </ul>
        <div class="card-body">
            <div class="text-center">
                <a href="{{ path('editUsersMovies', {id: movie.id}) }}" class="card-link btn btn-success ">Modifier</a>
                <a href="{{ path('deleteMovies', {id: movie.id}) }}" onclick="return confirm('$Êtes-vous sûr de vouloir supprimer ce film ?')" class="card-link btn btn-danger ">Supprimer</a>
            </div>
        </div>
        <div class="card-footer text-muted">
        Auteur de l'article : {{ movie.createdby.username }}
        </div>

        {% endfor %}

{% endblock %}


