{% extends "base.html.twig" %}

{% block body %}
{% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}


    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col" class="font-weight-bold">#</th>
            <th scope="col" class="font-weight-bold">Prénom</th>
            <th scope="col" class="font-weight-bold">Nom</th>
            <th scope="col" class="font-weight-bold">Actions</th>

          </tr>
        </thead>
        <tbody>
            {% for actor in actors %}
                
            <tr>
                <th scope="row">{{ actor.id }}</th>
                <td>{{actor.firstname}}</td>
                <td>{{actor.lastname}}</td>
                <td>
                    <a href="{{ path('editActors', {id:actor.id}) }}" class="btn btn-success">Modifier</a>
                    <a href="{{ path('deleteActors', {id:actor.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l\'acteur : {{actor.firstname}} ?')" class="btn btn-danger">Supprimer</a>
                </td>
            {% endfor %}
            
            </tr>
        </tbody>
    </table>
        

{% endblock %}


{% block title %}
    {% if ajout==true  %}
    {{ parent() }}Ajout d'acteur
    {% else %}
        {{ parent() }}Modification d'acteur
    {% endif %}
{% endblock %}

{% block h1 %}
    {% if ajout==true  %}
    Ajout d'acteur
    {% else %}
    Modification d'acteur
    {% endif %}
{% endblock %}